# Pem files are used for interactions, but shouldn't be committed
*.pem

# Temporary storage of deployed contract address, so we can preserve the context between executions.
state.toml

# Trace file of interactor tooling
interactor_trace.scen.json
