# Pem files are used for interactions, but shouldn't be committed
*.pem

# Be very careful not to commit your own .pem files.
# Alice and Bob are public, do NEVER use them on the mainnet.
!alice.pem
!bob.pem

# Temporary storage of deployed contract address, so we can preserve the context between executions.
composability_address.txt
state.toml

# Trace file of interactor tooling
comp_interact_trace.scen.json
